.members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 2rem 5rem 5rem 5rem;/* Top, right, bottom, left */
}

@media (max-width: 600px) {
    .members-list {
        flex-direction: column;
        align-items: center;
    }
}
