.App-header {
    background-color: #ffffff;
    color: rgb(107, 18, 152);
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-bottom: 10px solid rgb(239, 253, 44);
  }


  